.bg-white.rounded-pill,
.bg-dark.rounded-pill{
    width: 100px;
    height: 5px;
    margin: 0 10px;
}
.icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.my-image-container:hover::after{
    content: '+';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #20c9967b;
    color: white;
    font-size: 9em;
    font-weight: bold;
    border-radius: var(--bs-border-radius-lg);
}
.my-form-control{
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
    border-radius: 0%;
}